
body {
  background-color: lightblue;
}

div {
  background-color: lightcoral;
}

p h1 {
    color: blueviolet;
  }
  h1 {
    text-decoration: overline;
  }
  h1 {
    text-shadow: 2px 2px;
  }



  #example1 {
    background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
  }
 
  





  #rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }
  


  h2 {
    color: rgb(163, 113, 113);
    text-shadow: 2px 2px 4px #000000;
  }
  h2 {
    color: rgb(128, 0, 38);
  }



  h3 {
    color: rgb(46, 84, 95);
    text-shadow: 2px 2px 4px #000000;
  }
  h3 {
    color: rgb(128, 0, 38);
  }



  #contacts.html {background-color:rgba(192,192,192,0.3);}
  


 